/* From Uiverse.io by G4b413l */
.group {
  position: relative;
}

.input,
.form select {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #51515150;
  background: transparent;
}

.input:focus {
  outline: none;
}

.label {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input:focus ~ .label,
.input:valid ~ .label {
  top: -20px;
  font-size: 14px;
  /* font-weight: 700; */
  color: #000;
}
.group i {
  position: absolute;
  right: 0;
  cursor: pointer;
  top: 50%;
  transform: translate(-50%, -50%);
}
.group {
  position: relative;
}

.bar {
  position: relative;
  display: block;
  width: 200px;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #000;
  font-weight: 700;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: #000;
  }

  to {
    width: 0;
    background: transparent;
  }
}
.register {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100vh;
  width: 100vw;
  padding: 1em;
}
.form {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 1em;
}
.form select {
  outline: none;
}
.form button {
  padding: 1em;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
}
.register h1 {
  width: fit-content;
  margin: 0.5em auto;
}
.intro {
  margin: 0.5em 0;
}

.google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 30px;
  padding: 1.5em;
  text-align: center;
  background-color: #eee;
  border: none;
}
.or {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.356);
  margin: 1em 0;
  position: relative;
}
.or h3 {
  font-weight: normal;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0;
  width: 2em;
  height: 2em;
  background-color: white;
  display: grid;
  place-content: center;
  margin: 0 auto;
}
.loading {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  backdrop-filter: blur(3px);
}
.exist{
  display: flex;
  align-items: center;
  gap: 0.5em;
  justify-content: center;
}
.exist a{
  color: royalblue;
  text-decoration: none;
}
